<!-- Panel (Spotlight) -->
<section class="panel spotlight medium right" style="background: #907190;">
  <div class="content span-7">
     <h1>Novo cliente</h1>

      <%= render "form", cliente: @cliente %>

      <br>

      <div>
        <%= link_to "Voltar ao clientes", clientes_path %>
      </div>
  </div>
</section>